<<<<<<< HEAD
/* =========================================================
   ABOUT
========================================================= */

.about-card {
    background: white;

    max-width: 850px;

    margin: auto;

    padding: 45px;

    border:
        1px solid var(--border);

    border-radius: 15px;

    box-shadow: var(--shadow);
}

.about-card h1 {
    font-size: 40px;

    margin:
        7px 0 25px;
}

.about-card p {
    color: var(--muted);

    margin-bottom: 18px;

    font-size: 17px;
=======
/* =========================================================
   ABOUT
========================================================= */

.about-card {
    background: white;

    max-width: 850px;

    margin: auto;

    padding: 45px;

    border:
        1px solid var(--border);

    border-radius: 15px;

    box-shadow: var(--shadow);
}

.about-card h1 {
    font-size: 40px;

    margin:
        7px 0 25px;
}

.about-card p {
    color: var(--muted);

    margin-bottom: 18px;

    font-size: 17px;
>>>>>>> 205fbd4de92d1e9ae54ff31551dce46313475eac
}