/* =========================================================
   HERO
========================================================= */

.hero {
    background:
        linear-gradient(135deg,
            #2563eb,
            #1e40af);

    color: white;

    padding:
        90px 20px;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size:
        clamp(38px, 6vw, 60px);

    line-height: 1.1;

    margin-bottom: 20px;
}

.hero h1 span {
    color: #bfdbfe;
}

.hero p {
    max-width: 650px;

    margin:
        0 auto 35px;

    font-size: 18px;

    opacity: 0.92;
}