/*=========================================================
   TABLE
========================================================= */

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;

    border-collapse: collapse;
}

th,
td {
    padding: 13px;

    border-bottom:
        1px solid var(--border);

    text-align: left;
}

th {
    background:
        #f8fafc;

    font-size: 13px;
}

td {
    font-size: 14px;
}